{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block header_description%}
  {{ post.Post.header_description }}
{% endblock%}

{% block menu_title %}
  {{ menu_title }}
{% endblock %}

{% block content %}
  <div class="container p-4 px-lg-5">
  <h4>{{ post.Post.title | safe }}</h4>
  {{ post.Post.text | safe }}
  </div>
    
{% endblock %}

{% block copyright_year %}
{{ copyright.year }}
{% endblock %}

{% block copyright_name %}
{{ copyright.name }}
{% endblock %}

{% block copyright_link %}
{{ copyright.link }}
{% endblock %}

{% block copyright_city %}
{{ copyright.city }}
{% endblock %}
